fastapi
uvicorn
starlette
motor
pymongo
bcrypt
PyJWT
python-jose
httpx
requests
pydantic
email-validator
python-dotenv
python-multipart
openai
elevenlabs
paypalrestsdk
pillow
certifi
dnspython
replicate
httpx
pydantic
openai>=2.30.0
emergentintegrations @ https://d33sy5i8bnduwe.cloudfront.net/simple/emergentintegrations/emergentintegrations-0.1.1-py3-none-any.whl
